<ion-list lines="none">
  <ion-item-sliding *ngFor="let checklist of checklists; trackBy: trackByFn">
    <ion-item
      data-test="checklist-item"
      button
      routerLink="/checklist/{{ checklist.id }}"
      routerDirection="forward"
    >
      <ion-label>{{ checklist.title }}</ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option
        color="light"
        (click)="edit.emit(checklist); closeItems()"
        data-test="edit-checklist"
      >
        <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
      </ion-item-option>
      <ion-item-option
        (click)="delete.emit(checklist.id); closeItems()"
        color="danger"
        data-test="delete-checklist"
      >
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-card *ngIf="checklists?.length === 0" data-test="no-checklists-message">
    <ion-card-header>
      <h2>Welcome!</h2>
    </ion-card-header>
    <ion-card-content>
      <p>Click the add button to create your first quicklist</p>
    </ion-card-content>
  </ion-card>
</ion-list>
