<ion-list lines="none">
  <ion-item-sliding
    side="end"
    *ngFor="let item of checklistItems; trackBy: trackByFn"
  >
    <ion-item
      data-test="checklist-list-item"
      (click)="toggleItem(item.id)"
      color="success"
    >
      <ion-label>{{ item.title }}</ion-label>
      <ion-checkbox
        color="light"
        data-test="checklist-item-checkbox"
        slot="end"
        [checked]="item.checked"
      ></ion-checkbox>
    </ion-item>

    <ion-item-options>
      <ion-item-option
        data-test="edit-checklist-item"
        color="light"
        (click)="edit.emit(item); closeItems()"
      >
        <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
      </ion-item-option>
      <ion-item-option
        color="danger"
        data-test="delete-checklist-item"
        (click)="delete.emit(item.id); closeItems()"
      >
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-card *ngIf="checklistItems?.length === 0" data-test="no-items-message">
    <ion-card-header>
      <h2>Add an item</h2>
    </ion-card-header>
    <ion-card-content>
      <p>Click the add button to add your first item to this quicklist</p>
    </ion-card-content>
  </ion-card>
</ion-list>
