<ion-header>
  <ion-toolbar>
    <ion-title data-test="form-modal-title">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button data-test="form-modal-cancel" (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="handleSave()">
    <ion-item *ngFor="let control of formGroup.controls | keyvalue">
      <ion-label position="stacked">{{ control.key }}</ion-label>
      <ion-input
        type="text"
        [attr.data-test]="control.key"
        [formControlName]="control.key"
      ></ion-input>
    </ion-item>
    <ion-button
      data-test="form-modal-save"
      color="dark"
      type="submit"
      [disabled]="!formGroup.valid"
    >
      <ion-icon slot="start" name="save-outline"></ion-icon> Save
    </ion-button>
  </form>
</ion-content>
