<ion-header>
  <ion-toolbar>
    <ion-title> Create Checklist </ion-title>
    <ion-buttons slot="end">
      <ion-button data-test="cancel-checklist-button" (click)="cancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form formGroupName="checklistForm" (ngSubmit)="save()">
    <ion-item>
      <ion-label> Title </ion-label>
      <ion-input
        data-test="checklist-title-input"
        formControlName="title"
        type="text"
      ></ion-input>
    </ion-item>
    <ion-button
      type="submit"
      data-test="save-checklist-button"
      [disabled]="!checklistForm.valid"
    >
      Save
    </ion-button>
  </form>
</ion-content>
