<ion-header>
  <ion-toolbar>
    <ion-title
      data-test="checklist-detail-title"
      *ngIf="checklist$ | async as checklist"
    >
      {{ checklist.title }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        data-test="add-checklist-item-button"
        id="open-item-modal-trigger"
      >
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content>

<ion-modal
  trigger="open-item-modal-trigger"
  *ngIf="checklist$ | async as checklist"
>
  <ng-template>
    <app-form-modal
      title="Add Item"
      [formGroup]="checklistItemForm"
      (save)="addChecklistItem(checklist.id)"
    ></app-form-modal>
  </ng-template>
</ion-modal>
