<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button
        color="light"
        data-test="checklist-back-button"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
    <ion-title data-test="checklist-detail-title" *ngIf="vm$ | async as vm">
      {{ vm.checklist.title }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        data-test="reset-items"
        *ngIf="vm$ | async as vm"
        (click)="resetChecklistItems(vm.checklist.id)"
      >
        <ion-icon name="refresh" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button
        data-test="add-checklist-item-button"
        (click)="formModalIsOpen$.next(true)"
      >
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-checklist-item-list
    *ngIf="vm$ | async as vm"
    [checklistItems]="vm.items"
    (toggle)="toggleChecklistItem($event)"
    (delete)="deleteChecklistItem($event)"
    (edit)="openEditModal($event)"
  ></app-checklist-item-list>
</ion-content>

<ion-modal
  [isOpen]="vm.formModalIsOpen"
  [presentingElement]="routerOutlet.nativeEl"
  [canDismiss]="true"
  (ionModalDidDismiss)="checklistItemIdBeingEdited$.next(null); formModalIsOpen$.next(false)"
  *ngIf="vm$ | async as vm"
>
  <ng-template>
    <app-form-modal
      [title]="vm.checklistItemIdBeingEdited ? 'Edit item' : 'Create item'"
      [formGroup]="checklistItemForm"
      (save)="vm.checklistItemIdBeingEdited ? editChecklistItem(vm.checklistItemIdBeingEdited) : addChecklistItem(vm.checklist.id)"
    ></app-form-modal>
  </ng-template>
</ion-modal>
