<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      <img src="assets/logo.svg" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button data-test="add-checklist-button" (click)="openModal()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color="light" size="large">Your lists</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-checklist-list
    [checklists]="checklists$ | async"
    (delete)="deleteChecklist($event)"
    (edit)="openEditModal($event)"
  ></app-checklist-list>
</ion-content>
