<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button data-test="add-checklist-button" id="open-modal-trigger">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-checklist-list [checklists]="checklists$ | async"></app-checklist-list>
</ion-content>

<ion-modal trigger="open-modal-trigger">
  <ng-template>
    <app-form-modal
      title="Create checklist"
      [formGroup]="checklistForm"
      (save)="addChecklist()"
    ></app-form-modal>
  </ng-template>
</ion-modal>
