<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button
        data-test="add-checklist-button"
        (click)="formModalIsOpen$.next(true)"
      >
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-checklist-list
    [checklists]="checklists$ | async"
    (delete)="deleteChecklist($event)"
    (edit)="openEditModal($event)"
  ></app-checklist-list>
</ion-content>

<ion-modal
  *ngIf="{checklistIdBeingEdited: checklistIdBeingEdited$ | async, isOpen: formModalIsOpen$ | async} as vm"
  [isOpen]="vm.isOpen"
  (ionModalDidDismiss)="formModalIsOpen$.next(false); checklistIdBeingEdited$.next(null)"
>
  <ng-template>
    <app-form-modal
      [title]="vm.checklistIdBeingEdited ? 'Edit checklist' : 'Create checklist'"
      [formGroup]="checklistForm"
      (save)="vm.checklistIdBeingEdited ? editChecklist(vm.checklistIdBeingEdited) : addChecklist()"
    ></app-form-modal>
  </ng-template>
</ion-modal>
